{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/ini.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/uikit.min.css' %}">
    <title>Formulario</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/inicio.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/formulario.css' %}">

</head>

<body>

    <header>
        <nav id="nav">
            <a class="logo" href="/">QuikForm</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="{% url 'inicial' %}">Início</a></li>
                <li><a href="{% url 'gerenciador_formulario' %}">Formulários</a></li>
                <li><a href="#">Relatórios</a></li>
            </ul>

            <div class="perfil">
                <figure class="image-figure">
                    <img class="fir-author-image fir-clickcircle"
                        src="https://scontent.fjdo1-2.fna.fbcdn.net/v/t1.6435-9/80373942_1816976448433274_4484371174750420992_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeH8TFxZiE19_HeXao0Dj8bjemtiVtzvC7d6a2JW3O8Lt52Xp0gIUfG4zoqlw2fA2plKI5cy8COHGV_3J2TguR_5&_nc_ohc=NgBVBgZJYh0AX-XmSag&_nc_ht=scontent.fjdo1-2.fna&oh=00_AfCVslJg7KdqdVanG2zeFPDAtedcpi9qTXnWxbs0cmdAqw&oe=65130650"
                        alt="David East - Author">
                    <figcaption class="profile">
                        <div class="name">Ronildo Lima</div>
                        <button class="btn uk-button uk-button-text" type="button">Perfil</button>
                        <div uk-dropdown>
                            <ul class="uk-nav uk-dropdown-nav">
                                <li><a href="#">Alterar perfil</a></li>
                                <li class="uk-nav-header">Predefinições</li>
                                <li><a href="#">Tema</a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="#">Logout</a></li>
                            </ul>
                        </div>
                    </figcaption>
                </figure>
            </div>
        </nav>
    </header>

    <main>
        <div class="uk-flex uk-flex-center">
            <div class="uk-flex uk-flex-column uk-flex-center">

                <div
                    class="uk-left uk-section uk-section-primary uk-margin-medium-top uk-margin-medium-right uk-width-2xlarge">
                    <div class="uk-container uk-container-small">
                        <h1 class="uk-text-center">Criação de formulário</h1>

                        <form method="POST" class="uk-margin-medium-top" action="{% url 'add_pergunta' %}">
                            {% csrf_token %}
                            <fieldset class="uk-fieldset">

                                <legend class="uk-legend">Insira a pergunta</legend>

                                <div class="uk-margin">
                                    <input name="formulario_id" id="formulario_id" class="uk-input" type="number" value="{{formulario.id}}" placeholder="Pergunta"
                                        aria-label="Input" hidden>

                                    <input name="inputPergunta" id="inputPergunta" class="uk-input" type="text" placeholder="Pergunta"
                                        aria-label="Input">
                                </div>

                                <legend class="uk-legend">Insira o tipo de resposta</legend>

                                <div class="uk-margin">
                                    <select class="uk-select" aria-label="Select">
                                        <option id="inputSimples">Resposta simples</option>
                                        <option id="inputLonga">Resposta longa</option>
                                        <option id="inputMultipla">Multipla escolha</option>
                                    </select>
                                </div>
                            </fieldset>
                            <div class="uk-flex uk-flex-between">
                                <button id="criar" class="uk-button uk-button-default" type="submit">Adicionar pergunta</button>
                                <button id="excluir" class="uk-button uk-button-default">Excluir última
                                    pergunta</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="uk-right uk-section uk-section-primary uk-margin-medium-top uk-width-2xlarge">
                    <div class="uk-container uk-container-small">



                        <form class="uk-margin-large-top">
                            <h1 class="uk-text-center">{{formulario.titulo}}</h2>
                                <ul class="uk-list">

                                    {% for pergunta in perguntas %}
                                    <li>
                                        <fieldset class="uk-fieldset">
                                            <legend class="uk-legend" id="pergunta">{{pergunta.descricao}}</legend>
                                            <div class="uk-margin">
                                                <input id="simples" class="uk-input" type="text" placeholder="Resposta"aria-label="Input">
                                            </div>
                                        </fieldset>
                                    </li>
                                    <div>
                                        <button class="uk-button uk-button-default">EDITAR</button>
                                        <button class="uk-button uk-button-default"><a href="{% url 'delete_pergunta' pergunta.id %}" onclick="return confirm('Deseja realmente apagar a conta {{pergunta.descricao}}?')">Excluir</a></button>
                                    </div>
                                    {% endfor %}
                                </ul>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="{% static 'js/uikit.min.js' %}"></script>
    <script src="{% static 'js/uikit-icons.min.js' %}"></script>
    <script src="{% static 'js/inicio.js' %}"></script>
    <script src="{% static 'js/formulario.js' %}"></script>
</body>

</html>