{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/ini.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/uikit.min.css' %}">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/inicio.css' %}">
</head>

<body>
    <header>
        <nav id="nav">
            <a class="logo" href="/">QuikForm</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="{% url 'inicial' %}">Início</a></li>
                <li><a href="{% url 'gerenciador_formulario' %}">Formulários</a></li>
                <li><a href="#">Relatórios</a></li>
            </ul>

            <div class="perfil">
                <figure class="image-figure">
                    <img class="fir-author-image fir-clickcircle"
                        src="https://scontent.fjdo1-2.fna.fbcdn.net/v/t1.6435-9/80373942_1816976448433274_4484371174750420992_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeH8TFxZiE19_HeXao0Dj8bjemtiVtzvC7d6a2JW3O8Lt52Xp0gIUfG4zoqlw2fA2plKI5cy8COHGV_3J2TguR_5&_nc_ohc=NgBVBgZJYh0AX-XmSag&_nc_ht=scontent.fjdo1-2.fna&oh=00_AfCVslJg7KdqdVanG2zeFPDAtedcpi9qTXnWxbs0cmdAqw&oe=65130650"
                        alt="{{ user.first_name }}">
                    <figcaption class="profile">
                        <div class="name">{{ user.first_name }}</div>
                        <button class="titles uk-button uk-button-text" type="button">Perfil</button>
                        <div uk-dropdown>
                            <ul class="uk-nav uk-dropdown-nav">
                                <li><a href="#">Alterar perfil</a></li>
                                <li><a href="#">Tema</a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                            </ul>
                        </div>
                    </figcaption>
                </figure>
            </div>
        </nav>
    </header>
    <div class="uk-section-small uk-section-muted">
        <div class="uk-container uk-flex uk-flex-around">


            <!-- This is a button toggling the modal -->
            <button class="uk-button uk-button-default uk-margin-small-right" type="button"
                uk-toggle="target: #modal-git">Projeto</button>
            <!-- This is the modal -->
            <div id="modal-git" uk-modal>
                <div class="uk-modal-dialog uk-modal-body">
                    <h2 class="uk-modal-title">QuikForm</h2>
                    <p>Acesse nosso repositório no GitHub e conheça um pouco mais sobre esse projeto de desenvolvimento
                        de um site para criação de formulários dinâmicos.
                    </p>
                    <p class="uk-text-right">
                        <button class="uk-button uk-button-default uk-modal-close" type="button">Sair</button>
                        <button class="uk-button uk-button-primary" type="button"><a href="https://github.com/Gabrielgln/quikform">GitHub</a></button>
                    </p>
                </div>
            </div>

            <button class="uk-button uk-button-default uk-margin-small-right" type="button"
                uk-toggle="target: #modal-apresentacao">Seções</button>
            <!-- This is the modal -->
            <div id="modal-apresentacao" uk-modal>
                <div class="uk-modal-dialog uk-modal-body">
                    <h2 class="uk-modal-title">Apresentação</h2>
                    <ul class="uk-list uk-list-disc">
                        <li><a class="section" href="#servicos" uk-scroll>Serviços</a></li>
                        <li><a class="section" href="#news" uk-scroll>Newsletter</a></li>
                        <li><a class="section" href="#contato" uk-scroll>Contato</a></li>
                    </ul>
                    <p class="uk-text-right">
                        <button class="uk-button uk-button-default uk-modal-close" type="button">Sair</button>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <hr class="uk-divider-icon"><!--Divider Page-->

    <header id="inicio" class="bottom">
        <div class="uk-container uk-container-large">
            <div class="uk-container uk-container-large uk-flex uk-flex-center">
                <div class="uk-container uk-width-1-2">
                    <h2>Bem vindo!</h2>
                    <p>Estamos muito felizes em recebê-lo e proporcionar uma experiência excepcional. Nosso sistema foi projetado para atender às suas necessidades de maneira eficiente e amigável. Explore as diversas funcionalidades disponíveis para tornar sua jornada conosco mais produtiva e agradável.</p>
                    
                </div>

                <div class="uk-container right">
                    <img class="imagem" src="https://cdn-icons-png.flaticon.com/512/4599/4599802.png" alt="">
                </div>
            </div>
        </div>
    </header>
    <menu id="servicos">
        <h1 class="titulo uk-heading-line uk-text-center"><span>Serviços</span></h1>
        <div class="uk-child-width-1-3@m" uk-grid
            uk-scrollspy="cls: uk-animation-slide-bottom; target: .uk-card; delay: 300; repeat: true">
            <div>
                <div class="uk-card uk-card-body">
                    <h3 class="titles uk-card-title uk-flex uk-flex-center">Crie formulários</h3>
                    <div class="uk-flex uk-flex-center">
                        <img class="imagem2" src="https://cdn-icons-png.flaticon.com/512/4838/4838646.png" alt="">
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-body" uk-scrollspy-class="uk-animation-slide-top">
                    <h3 class="titles uk-card-title uk-flex uk-flex-center">Gere relatórios</h3>
                    <div class="uk-flex uk-flex-center">
                        <img class="imagem2" src="https://cdn-icons-png.flaticon.com/512/3094/3094851.png" alt="">
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-body">
                    <h3 class="titles uk-card-title uk-flex uk-flex-center">Envie por email</h3>
                    <div class="uk-flex uk-flex-center">
                        <img class="imagem2" src="https://cdn-icons-png.flaticon.com/512/2989/2989993.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </menu>

    <footer>
        <h1 id="news" class="titulo uk-heading-line uk-text-center"><span>Newsletter</span></h1>

        <div class="uk-section uk-flex uk-flex-center">
            <div class="uk-container uk-container-small">
                <h2 class="uk-flex uk-flex-center"></h2>
                <p class="titles sec-news uk-flex uk-flex-center">Insira seu email abaixo e fique por dentro das novidades, saiba tudo
                    em primeira mão.</p>

                <form method="POST" action="{% url 'newsletter' %}">
                    {% csrf_token %} 
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <a class="uk-form-icon" href="#" uk-icon="icon: mail"></a>
                            <input class="uk-input uk-placeholder" name="email" type="text" aria-label="Clickable icon">
                            
                        </div>
                        
                    </div>
                    <button class="titles uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom" type="submit"
                    uk-toggle="target: #modal-example">Cadastrar</button>

                    <div id="modal-example" uk-modal>
                        <div class="uk-modal-dialog uk-modal-body">
                            <h2 class="uk-modal-title">Newsletter</h2>
                            <p>Você agora receberá notícias e atualizações diretamente no seu email.</p>
                        </div>
                    </div>

                </form>

                <!-- This is a button toggling the modal -->
                

                <!-- This is the modal -->
                
            </div>
        </div>


    </footer>

    <form action="{% url 'contato' %}" method="POST">
        {% csrf_token %}  
        <h1 id="contato" class="titulo uk-heading-line uk-text-center"><span>Contato</span></h1>

        <div class="grid uk-child-width-expand@s " uk-grid>
            <div>
                <h2 class="titles uk-margin-medium-top uk-text-center">QuikForm</h2>
                <p class="rede-title uk-margin-medium-left uk-margin-medium-right uk-margin-large-top uk-text-center">Uma inovadora aplicação
                    de formulários está revolucionando a maneira como as empresas coletam e gerenciam dados. Com uma
                    interface intuitiva e altamente personalizável, essa aplicação permite que organizações de todos os
                    tamanhos criem formulários digitais de maneira eficiente e ágil.</p>
            </div>
            <div class="">
                <h2 class="titles uk-margin-medium-top uk-text-center">Redes sociais</h2>
                <div class="uk-flex uk-flex-column uk-flex-middle ">
                    <p class="rede-title uk-margin-remove">GitHub</p>
                    <button class="uk-button uk-button-default uk-margin-medium-bottom"><a href="https://github.com/Gabrielgln/quikform"><span
                                uk-icon="github"></span></a></button>
                    <p class="rede-title uk-margin-remove">Instagram</p>
                    <button class="uk-button uk-button-default uk-margin-medium-bottom"><a href=""><span
                                uk-icon="instagram"></span></a></button>
                    <p class="rede-title uk-margin-remove">Linkedin</p>
                    <button class="uk-button uk-button-default"><a href=""><span uk-icon="linkedin"></span></a></button>
                </div>
            </div>
            <div class="uk-margin-medium-bottom uk-flex uk-flex-column uk-text-center">
                <form>
                    <fieldset class="uk-fieldset uk-margin-medium-right uk-margin-medium-left uk-margin-medium-bottom uk-text-center">

                        <h2 class="titles uk-margin-medium-top">Contato</h2>

                        <div class="uk-margin">
                            <input class="uk-input uk-text-center" type="email" placeholder="Email" aria-label="Input" name="email">
                        </div>

                        <div class="uk-margin">
                            <textarea class="uk-textarea uk-text-center" rows="5" placeholder="Escreva sua mensagem"
                                aria-label="Textarea" name="comentario"></textarea>
                        </div>
                        <button class="titles-btn uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom" type="submit">Enviar</button>
                    </fieldset>
                </form>
            </div>
        </div>


    </form>

    <hr class="uk-divider-icon">

    <p class="uk-text-center">Copyright © 2023 | QuikForm | All rights reserved <a class="terms" href="#terms"
            uk-toggle>Terms of service</a></p>

    <div id="terms" uk-modal>
        <div class="uk-modal-dialog">

            <button class="uk-modal-close-default" type="button" uk-close></button>

            <div class="uk-modal-header">
                <h2 class="uk-modal-title">Termos de serviços</h2>
            </div>

            <div class="uk-modal-body" uk-overflow-auto>

                <h3>Última atualização: 23 de setembro de 2023</h1>

                    <h4>Aceitação dos Termos de Serviço</h4>
                    <p>Bem-vindo ao QuikForm! Este documento estabelece os Termos de Serviço ("Termos") que
                        regem o uso dos serviços oferecidos pelo QuikForm ("nós", "nosso" ou "site") aos nossos
                        usuários ("você" ou "usuário"). Ao acessar ou utilizar nosso site e serviços, você concorda em
                        cumprir estes Termos. Se você não concordar com estes Termos, por favor, não utilize nosso site.
                    </p>

                    <h4>Uso dos Serviços</h4>
                    <p>Conta de Usuário: Para utilizar alguns dos recursos do QuikForm, você pode ser
                        solicitado a criar uma conta de usuário. Você é responsável por manter a confidencialidade de
                        suas informações de conta e por todas as atividades que ocorrerem sob sua conta.</p>
                    <p>Condições de Uso: Você concorda em usar o QuikForm apenas para fins legais e de acordo
                        com estes Termos. Você não deve usar nossos serviços para atividades ilegais, fraudulentas ou
                        prejudiciais.</p>

                    <h4>Privacidade e Dados</h4>
                    <p>Privacidade: Nós respeitamos a sua privacidade. Nossa Política de Privacidade explica como
                        coletamos, usamos e compartilhamos informações pessoais. Ao usar nossos serviços, você concorda
                        com a coleta e o uso de suas informações de acordo com nossa Política de Privacidade.</p>
                    <p>Dados do Formulário: Os dados e informações enviados através de formulários criados no QuikForm
                        pertencem ao criador do formulário. Recomendamos que os criadores de formulários revelem
                        suas políticas de privacidade aos respondentes.</p>

                    <h4>Propriedade Intelectual</h4>
                    <p>Direitos Autorais: Todos os direitos autorais, marcas registradas e outros direitos de
                        propriedade intelectual relacionados ao QuikForm são de nossa propriedade ou
                        licenciados para nós. Você concorda em respeitar esses direitos e não deve copiar, modificar ou
                        distribuir nosso conteúdo sem autorização.</p>

                    <h4>Limitação de Responsabilidade</h4>
                    <p>Isenção de Responsabilidade: O QuikForm é fornecido "no estado em que se encontra", e
                        não fazemos garantias sobre a disponibilidade, confiabilidade ou precisão de nossos serviços.
                        Não somos responsáveis por quaisquer danos diretos ou indiretos resultantes do uso de nosso
                        site.</p>

                    <h4>Alterações nos Termos de Serviço</h4>
                    <p>Atualizações: Podemos atualizar estes Termos periodicamente para refletir mudanças em nossos
                        serviços ou na legislação aplicável. Você será notificado de quaisquer alterações
                        significativas, e sua continuação no uso do QuikForm após a atualização constituirá sua
                        aceitação dos novos Termos.</p>

                    <h4>Encerramento de Conta</h4>
                    <p>Encerramento: Reservamo-nos o direito de encerrar ou suspender sua conta e acesso ao Formulário
                        Online, a nosso critério, sem aviso prévio, se violar estes Termos.</p>

                    <h4>Estes Termos de Serviço constituem o acordo integral entre você e o QuikForm. Se você
                        tiver alguma dúvida ou preocupação, entre em contato conosco através dos meios de contato
                        fornecidos em nosso site.</h4>
                    <h4>Obrigado por escolher o QuikForm! Esperamos que aproveite nossos serviços.</h4>
                    <h4>Atenciosamente, equipe QuikForm</h4>

            </div>
        </div>
    </div>

        
        
    </form>

    <a class="totop" href="#nav" uk-totop></a>

    <script src="{% static 'js/uikit.min.js' %}"></script>
    <script src="{% static 'js/uikit-icons.min.js' %}"></script>
    <script src="{% static 'js/inicio.js' %}"></script>
</body>

</html>