{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo</title>
    <link rel="stylesheet" href="{% static 'css/inicial.css' %}">
    <link rel="icon" href="favicon.png" type="image/x-icon">
</head>
<body>
  <div class="bar-inicio">
    <h1>QuikForm</h1>
    <nav class="menu">
      <ol>
        <li class="menu-item"><a href="inicial.html">Início</a></li>
        <li class="menu-item"><a href="#0">Sobre</a></li>
        <li class="menu-item">
          <a href="#0">Formulário</a>
          <ol class="sub-menu">
            <li class="menu-item"><a href="#0">Criar formulário</a></li>
            <li class="menu-item"><a href="#0">Editar formulário</a></li>
            <li class="menu-item"><a href="#0">Visualizar formulário</a></li>
          </ol>
        </li>
        <li class="menu-item">
          <a href="#0">Relatórios</a>
          <ol class="sub-menu">
            <li class="menu-item"><a href="#0">Gerar relatório</a></li>
            <li class="menu-item"><a href="#0">Ver relatório</a></li>
            <li class="menu-item"><a href="#0">Enviar por Email</a></li>
          </ol>
        </li>
        <li class="menu-item"><a href="contato.html">Contato</a></li>
      </ol>
    </nav>
    <div class="perfil">
      <figure class="image-figure">
          <img class="fir-author-image fir-clickcircle" src="https://scontent.fjdo1-2.fna.fbcdn.net/v/t1.6435-9/80373942_1816976448433274_4484371174750420992_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeH8TFxZiE19_HeXao0Dj8bjemtiVtzvC7d6a2JW3O8Lt52Xp0gIUfG4zoqlw2fA2plKI5cy8COHGV_3J2TguR_5&_nc_ohc=NgBVBgZJYh0AX-XmSag&_nc_ht=scontent.fjdo1-2.fna&oh=00_AfCVslJg7KdqdVanG2zeFPDAtedcpi9qTXnWxbs0cmdAqw&oe=65130650" alt="David East - Author">
        <figcaption>
          <div class="name">Ronildo Lima</div>
          <details class="dropdown">
            <summary role="button">
              <a class="button">View profile</a>
            </summary>
            <ul>
              <li><a href="#">Perfil</a></li>
              <li><a href="#">Mensagens</a></li>
              <li><a href="#">Configurações</a></li>
              <li><a href="cadastro-02.html">Logout</a></li>
          </ul>
        </details>
        </figcaption>
      </figure>
  </div>
  </div>
    
<div class="slider">
    <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav"/>
    <input type="radio" name="slider" title="slide2" class="slider__nav"/>
    <input type="radio" name="slider" title="slide3" class="slider__nav"/>
    <input type="radio" name="slider" title="slide4" class="slider__nav"/>
    <div class="slider__inner">
      <div class="slider__contents"><i class="slider__image fa fa-codepen"></i>
        <img class="img-slide" src="vindo.png" alt="">
        <h2 class="slider__caption">Bem Vindo</h2>
        <p class="slider__txt">Seja bem vindo ao QuikForm, aqui você pode criar e administrar formulários de forma simples e rápida.</p>
      </div>
      <div class="slider__contents"><i class="slider__image fa fa-newspaper-o"></i>
        <img class="img-slide" src="nav.png" alt="">
        <h2 class="slider__caption">Crie formulários</h2>
        <p class="slider__txt">Crie formulários com diferentes tipos de entrada e surpreenda-se.</p>
      </div>
      <div class="slider__contents"><i class="slider__image fa fa-television"></i>
        <img class="img-slide" src="relatorio.png" alt="">
        <h2 class="slider__caption">Gere relatórios</h2>
        <p class="slider__txt">Gere relatórios de maneira simple e eficiente, acompanhe de perto.</p>
      </div>
      <div class="slider__contents"><i class="slider__image fa fa-diamond"></i>
        <img class="img-slide" src="email.png" alt="">
        <h2 class="slider__caption">Envie</h2>
        <p class="slider__txt">Compartilhe por email os relatórios gerados e fique por dentro da sua pesquisa.</p>
      </div>
    </div>
  </div>
  <script src="{% static 'js/inicial.js' %}"></script>
</body>
